@media  (max-width: 600px) {
    .backgroundImage {
     display: none;
    }
   body{
    background-image: url("../static/dog.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; 
}

  }

.backgroundImage {
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
right: 0;
z-index: -1;
  
  } 


  .contactForm {
    width: 150px;
    margin: 0 auto;
}


.homePageHeader
{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

h1.homePageHeader{
    font-size: 60px; 
    padding: 20px ;
    margin: 20px;
    border: none;
}
span.homePageHeader{

    font-size:30px;
}
.contactUsMain{
    display: flex; 
    flex-direction: column; 
     align-items: center;
}
#contactUsHeader{
    font-size:60px; 
    padding: 20px 
    ;margin: 20px;

}
.contactInformation{
    display: flex; 
    flex-direction: column;  
    align-items: center
}
#contactInformationHeadear{
    font-size:30px; 
    margin: 20px;
}
label.contactDetails{
    font-weight:bold;
}
small.contactDetails{
    color: rgb(241, 8, 8);

}
#termsAgreeLabel{
font-size: x-small;
}
#resetButton{
     margin-top: 10px;
     margin-left: 12px;
     margin-right: 17px;
     margin-bottom: 5px;
}
nav li {
    display: inline;
   }

#welcomeHeader{
animation-name: welcomeTitle;
 animation-duration: 5s;

}
@keyframes welcomeTitle {
    from {font-size: 0;}
    to{font-size: 30;}
    from{background-color: red;}
    to{background-color: blue;}
}
.active {
    background-color: rgb(187, 127, 255);
}
.popup{
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}