
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHTnWbC6Ua-H9Zaylh-3xZNo_JiLRx4SZSNA&usqp=CAU);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
