<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cssDesign.css">
    <title>Document</title>
</head>



<body>
   
 <header>
   <nav>
      <ul class="nav">
       <li><a href="homePage.html">Home Page</a></li> |
       <li><a href="conactUs.html">Conact Us</a></li>
      </ul>
  </nav>
</header>


    <div class="homePageHeader">
     <h1 class="homePageHeader" >Yuval's page</h1>
     <span class="homePageHeader">Welcome to yuval's page </span>
    </div>
     

</body>
</html>
