<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <style>
        body {
          background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQFGmiCWtVf94PdpahMKibPgLmzo3mVSFOcQ&usqp=CAU);
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
        </style>
 <div>
   <nav>
    <a href="homePage.html">Home Page</a> |
    <a href="conactUs.html">Conact Us</a>
    
  </nav>
</div>

  
    <div style="display: flex; flex-direction: column;  align-items: center;">
     <h1 style="font-size:60px; padding: 20px ;margin: 20px;border: none;">Yuval's page</h1>
     <span style="font-size:30px;">Welcome to yuval's page </span>
    </div>
     

</body>
</html>
