  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/cssDesign.css">
      <script defer="" src="../static/jsCode.js"></script>
      <title>Document</title>
  </head>



  <body >
    <img src="../static/backgroundImage.jpg" class="backgroundImage">
  
    <div id="container">  
  
    <header>
    <nav>
        <ul class="nav">
        <li><a href="homePage.html">Home Page</a></li> |
        <li><a href="conactUs.html">Conact Us</a></li>
        </ul>
    </nav>
    

      <a href="#" class="hamburgerMenu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    

    <nav>
    <ul class="navForMobileDisplay">
      <li><a href="homePage.html">Home Page</a></li> 
      <li><a href="conactUs.html">Conact Us</a></li> 
    </ul>
  </nav>

  </header>
  <div class="popup">
    <button id="close">&times;</button>
    <h2>Nice to see you here</h2>
    
    <img src="../static/smily.png" >
  </div>

      <div class="homePageHeader">
      <h1 class="homePageHeader" >Yuval's page</h1>
      <span class="homePageHeader" id="welcomeHeader">Welcome to yuval's page </span>
      </div>
      
      </div>

  </body>
  </html>
